* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100%;
    height: 100%;
}

.container {
    background: linear-gradient(to top, #9ff0ec , #f8c2d3);
    width: 100%;
    height: 100%;
}

#pic-moon-cat {
    text-align: center;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/moon-cat.svg") no-repeat center center;
}

#name {
    text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#name>h1 {
    font-family: Righteous;
    font-size: 1.5rem;
    text-transform: uppercase;
    animation: letterspacing 3s 1 alternate forwards;
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    background: linear-gradient(to right, #ee799e, #80f0ea);
    -webkit-background-clip: text;
    color: transparent;
}

@keyframes letterspacing {
    0% {
        letter-spacing: -0.1rem;
        filter: blur(.6rem) opacity(0);
    }
    50% {
        letter-spacing: .2rem;
        filter: blur(.3rem) opacity(.5);
    }
    100% {
        letter-spacing: .5rem;
        filter: blur(0rem) opacity(1);
    }
}

#info {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    font: bold 0.8rem Consolas, Monaco, monospace;
    width: 88ch;
    border-right: 0.1em solid;
    white-space: nowrap;
    overflow: hidden;
    animation: cursor-blink 0.5s step-end infinite alternate;
}

@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes cursor-blink {
    50% {
        border-color: transparent;
    }
}